<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AreaName</key>
		<string>Винницкая область</string>
		<key>Regions</key>
		<array>
			<string>Ямпольский район</string>
			<string>Чечельницкий район</string>
			<string>Шаргородский район</string>
			<string>Черновицкий район</string>
			<string>Хмельницкий район</string>
		</array>
	</dict>
	<dict>
		<key>AreaName</key>
		<string>Житомирская область</string>
		<key>Regions</key>
		<array>
			<string>Чудновский район</string>
			<string>Черняховский район</string>
			<string>Красноармейский район</string>
			<string>Ружинский район</string>
			<string>Радомышльский район</string>
		</array>
	</dict>
	<dict>
		<key>AreaName</key>
		<string>Донецкая область</string>
		<key>Regions</key>
		<array>
			<string>Ясиноватский район</string>
			<string>Шахтерский район</string>
			<string>Тельмановский район</string>
			<string>Старобешевский район</string>
			<string>Славянский район</string>
		</array>
	</dict>
	<dict>
		<key>AreaName</key>
		<string>Днепропетровская область</string>
		<key>Regions</key>
		<array>
			<string>Юрьевский район</string>
			<string>Широковский район</string>
			<string>Царичанский район</string>
			<string>Томаковский район</string>
			<string>Софиевский район</string>
		</array>
	</dict>
	<dict>
		<key>AreaName</key>
		<string>Волынская область</string>
		<key>Regions</key>
		<array>
			<string>Шацкий район</string>
			<string>Турийский район</string>
			<string>Старовыжевский район</string>
			<string>Рожищенский район</string>
			<string>Ратновский район</string>
		</array>
	</dict>
</array>
</plist>
